html{
    scroll-behavior: smooth;
}
body {
     font-family:Arial, sans-serif;
     margin: 0;
    }
header
{
    background: white url("img/image4.jpeg") no-repeat scroll top;
    color: white;
}
nav{
    background: linear-gradient(45deg,black,orangered);
    padding: 10px;
    box-shadow: 0 0 10px black;
    position: sticky;
    top: 0;
    }
nav a{
    display: inline-block;
    color:white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 10px;
    text-align: center;
}
nav a:hover{
    background:linear-gradient(45deg,red,black);
    box-shadow: 0 0 5px white;
    border-radius: 50px;
        }
.dropdown{
    display: inline-block;
    }
.dropdown-list{
    position: absolute;
    background: linear-gradient(45deg,red,black);
    padding: 10px;
    width: 200px;
    margin-top: 2px;
    display: none; /* to hide this */
}
.dropdown-list a{
    display: block;
}
.dropdown:hover .dropdown-list{
    display: block;
}
fieldset{
    background-color: #6f4541;
    color: white;
    padding: 10px;
    text-align: justify;
    border-radius: 10px;
}
legend{
    background-color: aquamarine;
    color:black;
    border-radius: 10px;
    padding: 5px;
}
section{
    text-align: center;
    margin: 20px;
}
.main-footer {
    background: white url("img/image4.jpeg") no-repeat scroll top;
    color: white;
    text-align: center;
    padding: 12px;
}
